<p-toast></p-toast>

<div class="admin-page">
    <p-card [header]="editMode ? 'Edit Product' : 'Add Product' " subheader="You can add or edit products here">
       <div class="grid">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <p-button 
                        [label]="editMode ? 'Update' : 'Create' " 
                        icon="pi pi-plus" 
                        styleClass="p-button-primary"
                         class="mr-2"
                         (click)="onSubmit()">
                        </p-button>

                        <p-button routerLink="/products"
                         label="Cancel" 
                         icon="pi pi-arrow-circle-left" 
                         styleClass="p-button-secondary" 
                         class="mr-2">
                        </p-button>
                    </div>

                </p-toolbar>
            </div>
       </div>
       <div class="grid">
            <div class="col-12">

               <form [formGroup]="form">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Name</label>
                        <input formControlName="name" id="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        <small *ngIf="form.controls.name.invalid && isSubmited" class="p-invalid">Name is Required</small>
                    </div>
                    <div class="field col">
                        <label for="brand">Brand</label>
                        <input formControlName="brand" id="brand" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        <small *ngIf="form.controls.brand.invalid  && isSubmited" class="p-invalid">Brand is Required</small>
                    </div>
                    <div class="field col">
                        <label for="withoutgrouping">Price</label><br/>
                        <p-inputNumber formControlName="price" mode="decimal" [useGrouping]="false"> </p-inputNumber>
                        <small *ngIf="form.controls.price.invalid  && isSubmited" class="p-invalid">Price is Required</small>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="countInStock">Count in Stock </label><br/>
                        <p-inputNumber formControlName="countInStock" mode="decimal" [useGrouping]="false"> </p-inputNumber>
                        <small *ngIf="form.controls.countInStock.invalid && isSubmited" class="p-invalid">Count in Stock is Required</small>
                    </div>

                    <div class="field col-4">
                        <label for="category">Category</label><br/>
                        <div *ngIf="selectedCategory" class="border-circle w-1rem h-1rem  font-bold flex align-items-center justify-content-center" [ngStyle]="{'background-color': selectedCategory.color}" style="display:inline-block!important; margin-right: 4px!important;"></div>
                        <p-dropdown (onChange)="onCategoryChange($event)" [options]="categories" formControlName="category" optionLabel="name" optionValue="id" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Category" [style]="{'width' : '90%'}">
                            <ng-template pTemplate="selectedItem">
                                <div class="flex align-items-center gap-2" *ngIf="selectedCategory">
                                    <div>{{ selectedCategory.name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-cat pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div class="border-circle w-2rem h-2rem m-2 font-bold flex align-items-center justify-content-center" [ngStyle]="{'background-color': cat.color}"></div>
                                    <div>{{ cat.name }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small *ngIf="form.controls.category.invalid && isSubmited" class="p-invalid">Category in Stock is Required</small>
                    </div>

                    <div class="field col-4">
                        <label for="isFeatured">Is Featured</label><br/>
                        <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
                    </div>

                    <div class="field col-12">
                        <label for="description">Description</label><br/>
                        <textarea [rows]="7" [cols]="30" pInputTextarea formControlName="description" [autoResize]="true" ></textarea>
                        <small *ngIf="form.controls.description.invalid && isSubmited" class="p-invalid">Description is Required</small>
                    </div>

                    <div class="field col-12">
                        <label for="richDescription">Product Details</label><br/>
                        <p-editor formControlName="richDescription" [style]="{ height: '320px' }"></p-editor>
                    </div>

                    <div class="field col-12">
                        <label for="image">Main Image</label><br/>
                        <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload($event)">
                        <div class="col-2 mt-2 pl-0">
                            <img style="width:100%;" [src]="imageDisplay" alt="">
                        </div>
                        <small *ngIf="form.controls.image.invalid && isSubmited" class="p-invalid">Main Image is Required</small>
                    </div>
                </div>
               </form>

            </div>
       </div>
    </p-card>
</div>
