<div class="admin-page">
    <p-card header="Dashboard" subheader="Last updates">
        <div class="grid">
            <div class="col-3">
                <admin-dashboard-item styleClass="d-orders" itemNumber="{{ totalOrders }}" [itemName]="'Orders'" icon="shopping-cart"></admin-dashboard-item>
            </div>
            <div class="col-3">
                <admin-dashboard-item styleClass="d-products" itemNumber="{{ totalProducts }}" [itemName]="'Products'" icon="briefcase"></admin-dashboard-item>
            </div>
            <div class="col-3">
                <admin-dashboard-item styleClass="d-users" itemNumber="{{ totalUsers }}" [itemName]="'Users'" icon="users"></admin-dashboard-item>
            </div>
            <div class="col-3">
                <admin-dashboard-item styleClass="d-totalsales" itemNumber="{{ totalSales | currency}}" [itemName]="'Total Sales'" icon="dollar"></admin-dashboard-item>
            </div>
        </div>
    </p-card>
</div>