header{
    .logo{
       img{
        width: 106px;
       } 
    }

    .search{
        padding-top: 23px;
    }

    .navigation{
        margin-top: 25px;
    }

    .tools{
        padding-top: 32px;

        .pi{
            margin-right: 10px;
        }
    }

    
}