<p-toast></p-toast>

<div class="admin-page">
    <p-card header="Order Details" subheader="You can edit order status here">
        <p-fieldset *ngIf="order" legend="Order Summary" [toggleable]="true" styleClass="mt-4">
            <div class="grid">
                <div class="col-4">
                    <h5>Order Id</h5>
                    <p>{{ order.id }}</p>
                </div>

                <div class="col-4">
                    <h5>Order Date</h5>
                    <p>{{ order.dateOrdered | date:'short' }}</p>
                </div>


                <div class="col-4">
                    <h5>Order Status</h5>
                    
                    <p-dropdown (onChange)="onStatusChange($event)" [options]="orderStatus" [(ngModel)]="selectedStatus" optionLabel="name" optionValue="id"></p-dropdown>
                </div>


                <div class="col-4">
                    <h5>Total Price</h5>
                    <p>{{ order.totalPrice | currency }}</p>
                </div>
           </div>
        </p-fieldset>

        <p-fieldset legend="Order Items" [toggleable]="true" styleClass="mt-4"  *ngIf="order">
            <p-table
                [value]="getOrderItems(order)"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th >Name</th>
                        <th >Brand</th>
                        <th >Category</th>
                        <th >Price</th>
                        <th >Quantity</th>
                        <th >Subtotal</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-orderItem>
                    <tr>
                        <td>{{ orderItem.product.name }}</td>
                        <td>{{ orderItem.product.brand }}</td>
                        <td>{{ orderItem.product.category.name }}</td>
                        <td>{{ orderItem.product.price | currency }}</td>
                        <td>{{ orderItem.quantity }}</td>
                        <td>{{ (orderItem.quantity * orderItem.product.price) | currency  }}</td>
                    </tr>
                </ng-template>
            </p-table>

            <div class="grid mt-4">
                <div class="col-2 col-offset-8 font-bold"> Total Price</div>
                <div class="col-2 font-bold text-green-500"> {{ order.totalPrice | currency }}</div>
            </div>
        </p-fieldset>

        <p-fieldset  *ngIf="order" legend="Order Address" [toggleable]="true" styleClass="mt-4">
            <div class="grid" *ngIf="order">
                <div class="col-4"> 
                   <h5>Order Address</h5>
                   <p>
                    {{ order.shippingAddress1}}<br>
                    {{ order.shippingAddress2}}<br>
                    {{ order.zip}} {{ order.city}}<br>
                    {{ order.country}}<br>
                   </p> 
                
                </div>
                <div class="col-4"> 
                    <h5>Customer</h5>
                    <p>
                     {{ order.user?.name}}<br>
                    </p> 
                 
                 </div>

                 <div class="col-4"> 
                    <h5>Contact Info</h5>
                    <p>
                     {{ order.phone}}<br>
                    </p> 
                 
                 </div>
            </div>
        </p-fieldset>

    </p-card>
</div>
